body {
    background-color: #252836;
}

.nav {
    margin: 20px 10px;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: space-between;



}

.nav-right {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search {
    width: 400px;
    box-sizing: border-box;
    opacity: 10%;
    border: 0ch;
    border-radius: 10px;
    font-size: 9px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 10px 5px 10px;
    margin-right: 1rem;
    color: #808191;


}

.nav-img {
    border-radius: 50%;
    color: white;

}

.note-img {
    margin-left: 20px
}

.n-img {
    color: #808191;
    font-size: 11px;
}

.continar {
    display: flex;
    /* grid-template-columns: 20% 80%; */
    justify-items: center;
    /* gap: 20px; */
}

.side-content {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.heading {
    color: white;
}

.v-nav {
    color: #808191;
    margin: 0px 5px;
    width: 10%;
}

.menu {
    display: grid;
    grid-template-rows: repeat(1, 15%);
    justify-items: flex-start;
    margin: 10px 0px 10px 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
}

li a {
    display: block;
    color: #808191;
    padding: 8px 16px;
    text-decoration: none;
}

.dark-mode {
    background-color: white;
    color: black;
}

.switsh-mood {
    display: flex;
    align-items: center;
    gap: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6C5ECF;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ccc;
}

input:focus+.slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.h4{
    font-size: 14px;
}

.right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.discover-content {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-right: 0%;
}

.board {
    position: relative;
    background-image: url("./images/Group\ 363.png");
    background-size: contain;
    color: white;
    width: 60%;
    height: 500px;
    background-repeat: no-repeat;

}

.hdhd {

    color: white;
    width: 14ch;
    font-size: 22px;
}

.photo-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 15px;
}

.pp {
    font-size: 12px;
    margin-top: -1px;
    margin-bottom: 1px;
}

.dd {
    font-size: 3px;
    opacity: 0.5;

}
.def-font{
    color: white;
}

.aftar1 {
    width: 50px;
    height: 50px;
}

.aftar2 {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.bgist-photo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.photo-info {
    display: flex;
    flex-direction: column;
}

.ch-board {
    position: relative;
    background-image: url("./images/Group\ 367.png");
    background-size: contain;
    color: white;
    width: 40%;
    height: 238px;
    background-repeat: no-repeat;
}

.four-imgs {
    background-color: #2f3442;
    border-radius: 20px ;
    color: white;
    width: 180px;
    

}

.card-photos {
    position: relative;
    margin-top: -35%;
    display: grid;
    grid-template-columns: repeat(4/25%);
    align-content: center;
    align-items: center;
    gap: 10px;

}
.content-photo{
    margin-left: 10px;
    padding: 10px;
}

.head3 {
    color: white;
    grid-column: 1/5;
}
.spon{
    color: white;
    font-size: 6px;
    opacity: 0.5;
}
.card-p{
    color: white;
    width: 23ch;
    font-size: 14px;
}
.card-p-p{
    color: white;
    width: 19ch;
}
.card-img{
    border-radius: 20px 20px 0px 0px;
    width: 180px;
}
.sml-icon{
    margin-left: 5px;
}
.dd3 {
    font-size: 3px;
    opacity: 0.5;
    margin-bottom: 5%;

}