
body{
  background-color:#242730;

}
.dark-mode {
  background-color: white; 
  color: rgb(228, 86, 14);
}    



.topnav {

  overflow: hidden;
  color: #808191;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #808191;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  background-color: #ccc; 
}


.topnav a.split {
  position: relative;
  float: left;
  color: white;
  color:#808191
}

.search-aria{
  position: relative;
  background: #FFFFFF;

  border-radius: 10px;
  width: 700px;
  height: 30px;
  font-size: 15px;
  left:200px;
  top:10px;
 
  }



        
        .sidebar a {
         
          
         display: block; 
        
          padding: 10px;
          text-decoration: none; 
        
                color: #808191;
        }
        
       
        
        /* .sidebar a.active {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 11px;
          line-height: px;
          color:#808191
        } */

       


      .image{
       display: flex;
       height: 400px;
       gap:10px
      
     
       }   
       

       
    

      
       .im{
          display: flex;
          text-align: center;
          justify-content: center;
          gap: 50px;
          margin-left: 120px;
         
      
      }

      

          .card {
              box-shadow: 0 4px 8px 0 rgba(251, 249, 249, 0.2);
              background-color: #FFFFFF;
              width: 180px;
              text-align: start;
              font-family: arial;

              border-radius: 10%;
            }

  
      /* .im >.card> img{
          background: rgba(223, 222, 202, 0.7);
          border-radius: 15px 15px 0px 0px;
          width: 180px;
          height: 150px;
          
         
      } */
     
     

       .im3{
          display: flex;
           width: 550px;
           height: 300px;
       
           border-radius: 20px;
          
           padding: 90px;
           margin-top: 50px;
          
        
        }
       
       .first-image{
         /* display: flex; */
          width: 550px;
          height: 300px;
      
          border-radius: 20px;
          background-image: url('image\ 1\ \(1\).png');
          /* padding: 10px; */
          margin-top: 50px;
          margin-right: 30px;
         
       
       }


       .second-image{
          /* display: flex; */
           width: 300px;
           height: 300px;
       
           border-radius: 20px;
           background-image: url('image\ 3.png');
           padding: 30px;
           margin-top: 80px;
         background-repeat: no-repeat;
        
        }

h1{

  width: 240px;
  

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
text-align: center;

letter-spacing: 0.3px;



}

h2{

  width: 240px;
  

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
text-align: center;
margin-left: 30px;
letter-spacing: 0.3px;

}

p{

  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

letter-spacing: 0.3px;


}

